{% extends "principal.html" %}
{% block content %}
<section class="section bg-success p-2 bg-opacity-75">
    <div class="container text-center text-white ">


            <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">CLientes</h5>
    <a href="{% url 'pf_adicionar' %}" class="btn btn-primary">cadastrar pf</a>
    <a href="{% url 'pj_adicionar' %}" class="btn btn-primary">cadastrar PJ</a>
    <a href="{% url 'clientes' %}" class="btn btn-primary">Listar clientes</a>
  </div>
</div>
            <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Funcionarios</h5>
    <a href="{% url 'funcionario_adicionar' %}" class="btn btn-primary">Cadastrar funcionarios</a>
    <a href="{% url 'funcionarios' %}" class="btn btn-primary">Listar funcionarios</a>
  </div>
</div>
            <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Veiculos</h5>
      <a href="{% url 'veiculo_adicionar' %}" class="btn btn-primary">Cadastrar veiculos</a>
      <a href="{% url 'veiculos' %}" class="btn btn-primary">Listar veiculos</a>
  </div>
</div>
            <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Vagas</h5>
    <a href="{% url 'vaga_adicionar' %}" class="btn btn-primary">Cadastrar vagas</a>
    <a href="{% url 'vagas' %}" class="btn btn-primary">Listar vagas</a>
  </div>
</div>

    </div>
</section>

{% endblock %}
<h1 class="display-1">EasyPark</h1>
<h1 class="display-4">Gestão de estacionamento</h1>
        <h1 class="font-weight-normal">Sistema para agendamento de horários de estacionamento</h1>