<!doctype html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="pt-br">
<head>
  {% block head %}
    {% include "head.html" %}
  {% endblock %}
</head>
<body>
  <nav id="sidebar" aria-label="Menu principal">
    <div class="logo" aria-label="Logo Garagem Noturna">EasyPark</div>
    <ul class="nav flex-column" role="menu" aria-label="Navegação principal">
      <li class="nav-item" role="none">
        <a href="{% url 'index' %}" class="nav-link active" role="menuitem" aria-current="page" title="Dashboard">
          <i class="fas fa-tachometer-alt" aria-hidden="true"> Inicio</i>
        </a>
      </li>
      <li class="nav-item" role="none">
        <a href="{% url 'clientes' %}" class="nav-link" role="menuitem" title="Clientes">
          <i class="fas fa-users" aria-hidden="true"> Clientes</i>
        </a>
      </li>
      <li class="nav-item" role="none">
        <a href="{% url 'funcionarios' %}" class="nav-link" role="menuitem" title="Funcionários">
          <i class="fas fa-user-tie" aria-hidden="true"> Funcionarios</i>
        </a>
      </li>
      <li class="nav-item" role="none">
        <a href="{% url 'veiculos' %}" class="nav-link" role="menuitem" title="Veículos">
          <i class="fas fa-car" aria-hidden="true"> Veiculos</i>
        </a>
      </li>
      <li class="nav-item" role="none">
        <a href="{% url 'vagas' %}" class="nav-link" role="menuitem" title="Estadas">
          <i class="fas fa-stream" aria-hidden="true"> Vagas</i>
        </a>
      </li>
    </ul>
  </nav>


{% if messages %}
			<div class="container-fluid p3">
				{% bootstrap_messages %}
			</div>
		{% endif %}

		{% block content %} {% endblock %}

		{% block footer %}
			{% include "footer.html" %}
		{% endblock %}
</body>
</html>
