{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

<div id="dados" class="container">
    <h3>Tabela de Descontos</h3>
    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <a href="{% url 'valores' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left me-2"></i>Voltar
        </a>
        <a href="{% url 'desconto_adicionar' %}" class="btn btn-primary">Adicionar Desconto</a>
    </div>

    <div class="card card-body mb-4" id="search">
        <form method="get" action="">
            <div class="input-group">
                <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}"
                       placeholder="Buscar por nome ou status do desconto...">
                <button type="submit" class="btn btn-outline-secondary">🔍 Buscar</button>
            </div>
        </form>
    </div>

    {% if object_list %}
    <div class="card-body">
        <h3 class="text-center">Descontos cadastrados</h3>
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th>Nome da Regra</th>
                    <th>Tipo</th>
                    <th>Valor do Desconto</th>
                    <th>Status</th>
                    <th class="text-center">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for desconto in object_list %}
                <tr>
                    <td>{{ desconto.nome }}</td>
                    <td>{{ desconto.get_tipo_display }}</td>
                    <td>
                        {% if desconto.tipo == 'PERCENTUAL' %}
                        {{ desconto.valor }}%
                        {% else %}
                        R$ {{ desconto.valor }}
                        {% endif %}
                    </td>
                    <td>{% if desconto.status %}Ativo{% else %}Inativo{% endif %}</td>
                    <td class="text-center">
                        <a href="{% url 'desconto_editar' desconto.pk %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'desconto_apagar' desconto.pk %}" class="btn btn-sm btn-danger">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning text-center mt-4">Nenhuma regra de desconto encontrada.</div>
    {% endif %}
</div>
{% endblock %}