{% extends 'principal.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div id="dados">
<div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
<div class="container">
    <h3 class="mt-4 mb-4">EDITAR VEÍCULO</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'veiculos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</div>
</div>
</div>

{% endblock %}