{% extends 'principal.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
            <div class="row">
                <h3 class="text-center">Dados do Veículo</h3>

                <p class="p-2 mt-2"><strong>Placa: </strong>{{ object.placa }}</p>
                <p class="p-2 mt-2"><strong>Marca/Modelo: </strong>{{ object.marca }} / {{ object.modelo }}</p>
                <p class="p-2 mt-2"><strong>Cor: </strong>{{ object.cor }}</p>
                <p class="p-2 mt-2"><strong>Cliente: </strong>{{ object.cliente.nome }}</p>

                <p class="p-2 mt-2">Confirma a exclusão do veículo de placa <strong>{{ object.placa }}</strong>?</p>

                <form method="POST">
                    {% csrf_token %}
                    <div class="text-end">
                        <button type="submit" class="btn btn-danger">Sim, excluir</button>

                        <a href="{% url 'veiculos' %}" class="btn btn-secondary text-white" type="button">
                           <span class="text">Cancelar</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}