{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div id="dados">
    <div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
            <div class="row p-3">
                <h1 class="text-center">EXCLUIR CATEGORIA?</h1>
                <p class="text-center mt-3">Você tem certeza que deseja excluir a categoria:</p>
                <h3 class="text-center mt-2">{{ object.get_categoria_display }}</h3>
                <p class="p-2 mt-2"><strong>Nome: </strong>{{ object.get_cnh_display }}</p>
                <p class="p-2 mt-2"><strong>Adicional da categoria:</strong> {{ object.valor_hora }} %</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="text-end mt-4">
                        <button type="submit" class="btn btn-danger">Sim, Excluir</button>
                        <a href="{% url 'categorias' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}