{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

<div id="dados" class="container">
    <h3>Tabela de Planos</h3>
    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
        <a href="{% url 'valores' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left me-2"></i>Voltar
        </a>

        <a href="{% url 'plano_adicionar' %}" class="btn btn-primary">Adicionar Plano</a>
    </div>

    <div class="card card-body mb-4" id="search">
        <form method="get" action="">
            <div class="input-group">
                <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}"
                       placeholder="Buscar por plano ou categoria do plano...">
                <button type="submit" class="btn btn-outline-secondary">🔍 Buscar</button>
            </div>
        </form>
    </div>

    {% if object_list %}
    <div class="card-body">
        <h3 class="text-center">Planos cadastrados</h3>
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th>Plano</th>
                    <th>Status</th>
                    <th>Valor (R$)</th>
                    <th class="text-center">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for plano in object_list %}
                <tr>
                    <td>{{ plano.nome }}</td>
                    <td>
                        {% if plano.status %}
                        <span class="badge bg-success">Ativo</span>
                        {% else %}
                        <span class="badge bg-danger">Desativado</span>
                        {% endif %}
                    </td>
                    <td>{{ plano.valor }}</td>
                    <td class="text-center">
                        <a href="{% url 'plano_editar' plano.pk %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'plano_apagar' plano.pk %}" class="btn btn-sm btn-danger">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mt-4">
            {% if is_paginated %}
            {% bootstrap_pagination page_obj url=request.get_full_path %}
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="alert alert-warning text-center mt-4">Nenhum plano encontrado.</div>
    {% endif %}
</div>
{% endblock %}