{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div id="dados">
    <div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
            <div class="row p-3">
                <h1 class="text-center">EXCLUIR PLANO?</h1>
                <h3 class="text-center mt-3"> {{ object.plano }}</h3>
                <p class="p-2 mt-2"><strong>Numero de veículos neste plano: </strong>{{ veiculos_count }}</p>
                <p class="p-2"><strong>Valor: </strong>R$ {{ object.valor }}</p>
                <p class="p-2 mt-4">Confirma a exclusão deste plano?</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="text-end">
                        <button type="submit" class="btn btn-danger">Sim, Excluir</button>
                        <a href="{% url 'planos' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}